@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
.container {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#mode-btn {
  border: none;
  background-color: transparent;
}

.mode__img {
  width: 30px;
  height: 30px;
}

#navbar-responsive {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  gap: 50px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F2F0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__toogle__item {
  padding: 15px 30px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  font-family: Manrope;
  background-color: #FFD2A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__toogle__item:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #161722;
          box-shadow: 0px 0px 5px 5px #161722;
}

#navbar-open {
  border: none;
  background-color: transparent;
}
@media (min-width: 1300px) {
  #navbar-open {
    display: none;
  }
}
#navbar-open .navbar__img {
  width: 30px;
  height: 30px;
}

#navbar-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}
#navbar-close img {
  width: 40px;
  height: 40px;
}

#backtop {
  border-radius: 12px;
  z-index: 99;
  border: none;
  position: fixed;
  outline: none;
  right: 20px;
  bottom: -70px;
  background-color: #FFD2A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#backtop img {
  margin: 15px 10px;
  width: 30px;
  height: 30px;
}

#backtop.backtop-show {
  bottom: 50px;
}

.loading {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  opacity: 0.8;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loading-hidden {
  opacity: 0;
  z-index: -1;
}

.loading {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  overflow: hidden;
}

.loader {
  width: 10em;
  height: 10em;
  font-size: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 0.3em solid hotpink;
  border-radius: 50%;
  position: relative;
  -webkit-animation: rotating 2s ease-in-out infinite;
          animation: rotating 2s ease-in-out infinite;
  --direction: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loading-hidden {
  opacity: 0;
  z-index: -1;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -0.2em;
}

.loader::before {
  border-top: 0.3em solid dodgerblue;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.loader::after {
  border-top: 0.3em solid gold;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.loader span {
  position: absolute;
  color: white;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
  --direction: -1;
}

@-webkit-keyframes rotating {
  50% {
    -webkit-transform: rotate(calc(180deg * var(--direction)));
            transform: rotate(calc(180deg * var(--direction)));
  }
  100% {
    -webkit-transform: rotate(calc(360deg * var(--direction)));
            transform: rotate(calc(360deg * var(--direction)));
  }
}

@keyframes rotating {
  50% {
    -webkit-transform: rotate(calc(180deg * var(--direction)));
            transform: rotate(calc(180deg * var(--direction)));
  }
  100% {
    -webkit-transform: rotate(calc(360deg * var(--direction)));
            transform: rotate(calc(360deg * var(--direction)));
  }
}
#navbar, .responsive__header {
  width: 100vw;
  position: fixed;
  z-index: 10000;
  background-color: #fff;
}
#navbar .nav__list, .responsive__header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 50px;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
#navbar .header__logo img, .responsive__header .header__logo img {
  width: 190px;
  height: 50px;
  margin-left: 50px;
}
#navbar .item, .responsive__header .item {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  line-height: 150%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
#navbar .item-parent, .responsive__header .item-parent {
  width: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}
#navbar .dropdown-hidden, .responsive__header .dropdown-hidden {
  display: none;
}
#navbar .hidden, .responsive__header .hidden {
  display: none;
}
#navbar .item:hover, .responsive__header .item:hover {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  line-height: 150%;
  color: #ff6633;
}
#navbar #categoriess, .responsive__header #categoriess {
  position: absolute;
  top: 75px;
}
#navbar .frame-parent, .responsive__header .frame-parent {
  width: 100vw;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px 116px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 40px;
  text-align: left;
  font-size: 16px;
  color: #414141;
  font-family: Rubik;
}
#navbar .catalog, .responsive__header .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 45px;
  padding: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background: #70C05B;
  margin-left: 50px;
}
#navbar .catalog button, .responsive__header .catalog button {
  cursor: pointer;
  background-color: transparent;
  position: relative;
  left: 50px;
}
#navbar .catalog h1, .responsive__header .catalog h1 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: white;
}
#navbar .search__container, .responsive__header .search__container {
  width: 360px;
  margin-left: 30px;
}
#navbar .search__title, .responsive__header .search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}
#navbar .search__input, .responsive__header .search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url(../../assets/images/search.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 95% center;
  border-radius: 4px;
  border: 1px solid var(--Main-Secondary, #70C05B);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#navbar .search__input::-webkit-input-placeholder, .responsive__header .search__input::-webkit-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::-moz-placeholder, .responsive__header .search__input::-moz-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input:-ms-input-placeholder, .responsive__header .search__input:-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::-ms-input-placeholder, .responsive__header .search__input::-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::placeholder, .responsive__header .search__input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input:hover, #navbar .search__input:focus, .responsive__header .search__input:hover, .responsive__header .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #70C05B;
  border-radius: 0;
  background-position: 100% center;
}
#navbar .icons, .responsive__header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  margin-left: 40px;
}
#navbar .icons a, .responsive__header .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
#navbar .icons a p, .responsive__header .icons a p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #414141;
}
#navbar .user, .responsive__header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-left: 24px;
}
#navbar .user h2, .responsive__header .user h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#navbar .icon, .responsive__header .icon {
  cursor: pointer;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-left: 0;
  position: relative;
  right: 525px;
  padding-top: 100px;
}
.links .add {
  opacity: 0.5;
}
.links a {
  color: #414141;
}

.responsive__header {
  display: none;
}

.catalog a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

body {
  padding-bottom: 50px;
}

.b {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  line-height: 150%;
}

h1 {
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-left: 80px;
}

.img-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 80px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(112, 192, 91, 0)), color-stop(82.81%, #70c05b));
  background: linear-gradient(180deg, rgba(112, 192, 91, 0), #70c05b 82.81%);
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.img-parent {
  width: 584px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
          box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
  height: 200px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.content1 {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 140px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 102, 51, 0)), to(#ff6633));
  background: linear-gradient(180deg, rgba(255, 102, 51, 0), #ff6633);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-group {
  width: 272px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
          box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  height: 200px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.img-container {
  width: 272px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
          box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
  height: 200px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.instance-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
}

.frame-parent,
a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
  font-size: 18px;
  color: #fff;
}

.parent {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 60px;
  text-align: left;
  font-size: 64px;
  color: #414141;
  font-family: Rubik;
}

footer {
  padding: 24px 40px;
  background-image: url(../../assets/images/simple-dots-seamless-pattern_490768-161.jpg);
  margin-top: 100px;
}
@media (max-width: 360px) {
  footer {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 360px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__links .img__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-left: 100px;
}
.footer__links a {
  color: var(--Main-onSurface, #414141);
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo img {
  width: 74px;
  height: 49px;
}

.footer___phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 14px;
  margin-left: 40px;
}

.phone {
  width: 24px;
  height: 24px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 28px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .responsive__header {
    display: block;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .instance-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
  }
  h1 {
    position: relative;
    right: 20px;
  }
  .img-parent {
    position: relative;
    right: 20px;
    padding: 0 20px;
    width: 120%;
  }
  .links {
    position: relative;
    left: 100px;
  }
  .footer {
    background-size: 1500px;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__links .footer___phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: 340px;
    top: 40px;
  }
  .footer__links .footer___phone h4 {
    width: 100vw;
  }
  .footer__links .img__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__logo {
    position: relative;
    left: 60px;
  }
  .footer__logo_logo {
    position: relative;
    right: 160px;
  }
}