@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
.container {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#mode-btn {
  border: none;
  background-color: transparent;
}

.mode__img {
  width: 30px;
  height: 30px;
}

#navbar-responsive {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  gap: 50px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F2F0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__toogle__item {
  padding: 15px 30px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  font-family: Manrope;
  background-color: #FFD2A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__toogle__item:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #161722;
          box-shadow: 0px 0px 5px 5px #161722;
}

#navbar-open {
  border: none;
  background-color: transparent;
}
@media (min-width: 1300px) {
  #navbar-open {
    display: none;
  }
}
#navbar-open .navbar__img {
  width: 30px;
  height: 30px;
}

#navbar-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}
#navbar-close img {
  width: 40px;
  height: 40px;
}

#backtop {
  border-radius: 12px;
  z-index: 99;
  border: none;
  position: fixed;
  outline: none;
  right: 20px;
  bottom: -70px;
  background-color: #FFD2A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#backtop img {
  margin: 15px 10px;
  width: 30px;
  height: 30px;
}

#backtop.backtop-show {
  bottom: 50px;
}

#navbar {
  width: 100vw;
  position: fixed;
  z-index: 10000;
  background-color: #fff;
}
#navbar .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 50px;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
#navbar .header__logo img {
  width: 190px;
  height: 50px;
  margin-left: 50px;
}
#navbar .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 45px;
  padding: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #70C05B;
  margin-left: 50px;
}
#navbar .catalog img {
  cursor: pointer;
}
#navbar .catalog h1 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: white;
}
#navbar .search__container {
  width: 360px;
  margin-left: 30px;
}
#navbar .search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}
#navbar .search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url(../../assets/images/search.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 95% center;
  border-radius: 4px;
  border: 1px solid var(--Main-Secondary, #70C05B);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#navbar .search__input::-webkit-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::-moz-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input:-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input:hover, #navbar .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #70C05B;
  border-radius: 0;
  background-position: 100% center;
}
#navbar .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  margin-left: 40px;
}
#navbar .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
#navbar .icons a p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #414141;
}
#navbar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-left: 24px;
}
#navbar .user h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#navbar .icon {
  cursor: pointer;
}

.hero {
  background-image: url(../../assets/images/0b8a40_f3b01699616d45b18d6a6ee80812695c~mv2.webp);
  padding-right: 100px;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  padding-top: 90px;
}
@media (max-width: 360px) {
  .hero img {
    display: none;
  }
}
.hero h1 {
  color: var(--Main-onSurface, #414141);
  text-align: center;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 360px) {
  .hero h1 {
    width: 100vw;
  }
}

main {
  background: var(--Main-BGPage, #FBF8EC);
  padding-bottom: 200px;
}

#cards {
  padding-top: 70px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  gap: 950px;
}
.title h1 {
  color: var(--Main-onSurface, #414141);
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #606060;
}

.product__cards {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 80px;
  margin-right: 50px;
}
.product__cards .product__card {
  width: 272px;
  height: 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.product__cards .product__card h2 {
  color: #606060;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.product__cards .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
.product__cards .card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.product__cards .sell h1 {
  position: relative;
  right: 80px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #414141;
}
.product__cards .sell h1 p {
  position: relative;
  right: 80px;
  color: #BFBFBF;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.product__cards .sold h2 {
  position: relative;
  right: 40px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  color: var(--Main-onSurface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.product__cards .sold h4 {
  position: relative;
  right: 40px;
  color: #BFBFBF;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.product__cards .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 4px;
  background: var(--Main-Primary, #F63);
  color: var(--Main-onPrimary, #FFF);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.product__cards .add:hover {
  border: 1px solid #70C05B;
  background-color: #FFF;
  color: #70C05B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.product__cards .like {
  position: absolute;
  left: 220px;
  bottom: 300px;
  border-radius: 4px;
  opacity: 0.5;
  padding: 8px;
  background: var(--Grayscale-Lightest, #F3F2F1);
}
.product__cards .onSale {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  bottom: 205px;
  background: var(--Main-Primary, #F63);
}
.product__cards .onSale h1 {
  color: var(--Main-onPrimary, #FFF);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.img {
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}

#cards2, #cards3 {
  padding-top: 200px;
}

#cards2 .title {
  gap: 930px;
}

#cards3 .title {
  gap: 750px;
}

#works {
  padding-top: 200px;
}
#works .title {
  margin-top: 100px;
}

.card__boxes {
  gap: 40px;
  margin-right: 70px;
  margin-left: 70px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 360px) {
  .card__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    right: 55px;
  }
}
.card__boxes h1 {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  color: var(--Main-onSurface, #414141);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
}
.card__boxes p {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  color: var(--Main-onSurface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.card__boxes .card__box1 {
  padding: 8px 31px 9px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 584px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 8px;
  background: var(--Main-PrimaryMuted, #FCD5BA);
}
.card__boxes .card__box1:hover {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}
.card__boxes .card__box2 {
  padding: 8px 31px 9px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 584px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 8px;
  background: var(--Main-SecondaryMuted, #E5FFDE);
}
.card__boxes .card__box2:hover {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}

.responsive-map-container {
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  padding-bottom: 354px;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
@media (max-width: 360px) {
  .responsive-map-container {
    width: 300px;
    height: 250px;
  }
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 1208px;
  height: 354px;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  gap: 25px;
  padding: 40px 0px 24px 0;
}
@media (max-width: 360px) {
  .select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 250px;
  }
}
.select button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 4px;
  background: var(--Main-Primary, #70C05B);
  color: var(--Main-onPrimary, #FFF);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.select button:hover {
  background-color: #F3F2F1;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
  color: #70C05B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.title2 {
  margin-left: 100px;
}

.last__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 100px;
  gap: 40px;
}
@media (max-width: 360px) {
  .last__cards {
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.last__cards .lastCard-1, .last__cards .lastCard-2, .last__cards .lastCard-3 {
  max-width: 376px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}
.last__cards .lastCard-1 img, .last__cards .lastCard-2 img, .last__cards .lastCard-3 img {
  margin-bottom: 10px;
}
.last__cards h2 {
  color: var(--Grayscale-Hard, #8F8F8F);
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}
.last__cards h1 {
  color: var(--Main-onSurface, #414141);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px;
}
.last__cards p {
  color: var(--Main-onSurface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}
.last__cards button {
  border-radius: 4px;
  background: var(--Main-Secondary, #70C05B);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: var(--Main-onSecondary, #FFF);
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 18px;
  margin-bottom: 10px;
}
.last__cards button:hover {
  background: var(--Main-SecondaryMuted, #E5FFDE);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #70C05B;
}

.headline {
  margin-left: 20px;
}

.card__bottom {
  padding: 10px;
}

footer {
  padding: 24px 40px;
  background-image: url(../../assets/images/simple-dots-seamless-pattern_490768-161.jpg);
}
@media (max-width: 360px) {
  footer {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 360px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__links .img__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-left: 100px;
}
.footer__links a {
  color: var(--Main-onSurface, #414141);
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo img {
  width: 74px;
  height: 49px;
}

.footer___phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 14px;
  margin-left: 40px;
}

.phone {
  width: 24px;
  height: 24px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 28px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .product__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 250px;
    position: relative;
    right: 25px;
  }
  .title {
    position: relative;
    right: 100px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__boxes, .last__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 20px;
  }
  .title {
    gap: 50px;
    margin-left: 150px;
  }
  .footer {
    background-size: 1500px;
  }
}
@media (max-width: 360px) {
  .product__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 250px;
    margin-left: 150px;
  }
  .title {
    gap: 50px;
    margin-left: 150px;
  }
  .card__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__boxes .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer {
    width: 650px;
  }
  .icons {
    display: none;
  }
}
.img {
  background-color: #fff;
}

#navbar {
  width: 100vw;
  position: fixed;
  z-index: 10000;
  background-color: #fff;
}
#navbar .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 50px;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
#navbar .header__logo img {
  width: 190px;
  height: 50px;
  margin-left: 50px;
}
#navbar .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 45px;
  padding: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #70C05B;
  margin-left: 50px;
}
#navbar .catalog img {
  cursor: pointer;
}
#navbar .catalog h1 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: white;
}
#navbar .search__container {
  width: 360px;
  margin-left: 30px;
}
#navbar .search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}
#navbar .search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url(../../assets/images/search.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 95% center;
  border-radius: 4px;
  border: 1px solid var(--Main-Secondary, #70C05B);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#navbar .search__input::-webkit-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::-moz-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input:-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#navbar .search__input:hover, #navbar .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #70C05B;
  border-radius: 0;
  background-position: 100% center;
}
#navbar .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  margin-left: 40px;
}
#navbar .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
#navbar .icons a p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #414141;
}
#navbar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-left: 24px;
}
#navbar .user h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#navbar .icon {
  cursor: pointer;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-left: 0;
  position: relative;
  right: 525px;
  padding-top: 20px;
}
.links .add {
  opacity: 0.5;
}
.links a {
  color: #414141;
}

body {
  padding-bottom: 50px;
}

.b {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  line-height: 150%;
}

h1 {
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-left: 80px;
}

.img-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 80px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(112, 192, 91, 0)), color-stop(82.81%, #70c05b));
  background: linear-gradient(180deg, rgba(112, 192, 91, 0), #70c05b 82.81%);
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.img-parent {
  width: 584px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
          box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
  height: 200px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.content1 {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 140px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 102, 51, 0)), to(#ff6633));
  background: linear-gradient(180deg, rgba(255, 102, 51, 0), #ff6633);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-group {
  width: 272px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
          box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  height: 200px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.img-container {
  width: 272px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
          box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
  height: 200px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.instance-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
}

.frame-parent, a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
  font-size: 18px;
  color: #fff;
}

.parent {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 60px;
  text-align: left;
  font-size: 64px;
  color: #414141;
  font-family: Rubik;
}

@media (max-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .instance-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
  }
  h1 {
    position: relative;
    right: 20px;
  }
  .img-parent {
    position: relative;
    right: 20px;
    padding: 0 20px;
    width: 120%;
  }
  .links {
    position: relative;
    left: 100px;
  }
}