footer {
    padding: 24px 40px;
    background-image: url(../../assets/images/simple-dots-seamless-pattern_490768-161.jpg);

    @media (max-width:360px) {
        margin-left: auto;
        margin-right: auto;
    }

}

.footer__links {
    display: flex;
    gap: 40px;

    @media (max-width:360px) {
        display: flex;
        width: 100vw;
        flex-direction: column;
    }

    .img__links {
        display: flex;
        gap: 16px;
        margin-left: 100px;
    }

    a {
        color: var(--Main-onSurface, #414141);
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        display: flex;
        align-items: center;
    }
}

.footer__logo {
    img {
        width: 74px;
        height: 49px;
    }
}

.footer___phone {
    display: flex;
    gap: 10px;
    margin-top: 14px;
    margin-left: 40px;
}

.phone {
    width: 24px;
    height: 24px;
}

.footer__logo {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 28px;
}
.header__bottom {
    display: none;
}
.mainmenu {
    display: none;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    text-align: center;
    font-size: 8px;
    color: #414141;
    font-family: Rubik;
}
@media (max-width: 768px) {
    .footer {
            background-size: 1500px;
        }
    
        .footer__links {
            display: flex;
            flex-direction: column;
    
            .footer___phone {
                display: flex;
                position: relative;
                right: 320px;
                top: 40px;
    
                h4 {
                    width: 100vw;
                }
            }
    
            .img__links {
                display: flex;
            }
        }
    
        .footer__logo {
            margin-left: 30px;
        }
    
        .header__bottom {
            display: block;
            position: fixed;
            bottom: 0;
    
            .mainmenu {
                display: flex;
                justify-content: space-around;
                padding: 10px 0;
                background-color: #fff;
                width: 100vw;
                // z-index: 9999999;
            }
        }
}