#navbar {
    position: relative;
    right: 0px;
}
#navbar,
.responsive__header {
    width: 1440px;
    position: fixed;
    z-index: 10000;
    background-color: #fff;

    .nav__list {
        display: flex;
        padding: 10px 50px;
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
    }

    .header__logo {
        img {
            width: 190px;
            height: 50px;
            margin-left: 50px;
        }
    }

    .catalog {
        display: flex;
        width: 140px;
        height: 45px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background: #70C05B;
        margin-left: 50px;

        img {
            cursor: pointer;
        }

        button {
            background-color: transparent;
        }

        h1 {
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: white;
        }
    }
.responsive__header{
display: none;
}
    .search__container {
        width: 360px;
        margin-left: 30px;
    }

    .search {
        &__title {
            font-size: 22px;
            font-weight: 900;
            text-align: center;
        }

        &__input {
            width: 100%;
            padding: 12px 24px;
            background-color: transparent;
            transition: transform 250ms ease-in-out;
            font-size: 14px;
            line-height: 18px;
            color: #575756;
            background-color: transparent;
            background-image: url(../../assets/images/search.svg);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: 95% center;
            border-radius: 4px;
            border: 1px solid var(--Main-Secondary, #70C05B);
            transition: all 250ms ease-in-out;
            backface-visibility: hidden;
            transform-style: preserve-3d;

            &::placeholder {
                color: color(#575756 a(0.8));
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }

            &:hover,
            &:focus {
                padding: 12px 0;
                outline: 0;
                border: 1px solid transparent;
                border-bottom: 1px solid #70C05B;
                border-radius: 0;
                background-position: 100% center;
            }
        }
    }

    .icons {
        display: flex;
        gap: 28px;
        margin-left: 40px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                text-align: center;
                color: #414141;
            }
        }
    }

    .user {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        margin-left: 24px;

        h2 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .icon {
        cursor: pointer;
    }
}
.item {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    transition: 0.5s;
    cursor: pointer;
}

.item-parent {
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.dropdown-hidden {
    display: none;
}

.hidden {
    display: none;
}

.item:hover {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    color: #ff6633;
}

#categoriess {
    position: fixed;
    z-index: 10000000;
    top: 75px;
}

.frame-parent {
    width: 100vw;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 116px;
    box-sizing: border-box;
    gap: 40px;
    text-align: left;
    font-size: 16px;
    color: #414141;
    font-family: Rubik;
}
@media (max-width: 768px) {
body {
        overflow-x: hidden;
    }

    .mainmenu {
        display: block;
    }

    nav {
        display: none;
    }



    .search__container {
        input {
            padding: 20px;
        }
    }
}

        .responsive__header {
            position: relative;

            display: block;
            width: 100vw;
            display: flex;
            // padding: 10px;
            // padding-left: 50px;
        }
.mainmenu-child {
    width: 24px;
    position: relative;
    height: 24px;
}