@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}