@use "../layout/container";
@use "../base/reset";
@use "../global.scss";
@use "../themes/loading.scss";
.b {
    align-self: stretch;
    position: relative;
    line-height: 150%;
}
#navbar {
    width: 100vw;
    position: fixed;
    z-index: 10000;
    background-color: #fff;

    .nav__list {
        display: flex;
        padding: 10px 50px;
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
    }

    .header__logo {
        img {
            width: 190px;
            height: 50px;
            margin-left: 50px;
        }
    }

    .catalog {
        display: flex;
        width: 140px;
        height: 45px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background: #70C05B;
        margin-left: 50px;

        img {
            cursor: pointer;
        }

        h1 {
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: white;
        }
    }

    .search__container {
        width: 360px;
        margin-left: 30px;
    }

    .search {
        &__title {
            font-size: 22px;
            font-weight: 900;
            text-align: center;
        }

        &__input {
            width: 100%;
            padding: 12px 24px;
            background-color: transparent;
            transition: transform 250ms ease-in-out;
            font-size: 14px;
            line-height: 18px;
            color: #575756;
            background-color: transparent;
            background-image: url(../../assets/images/search.svg);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: 95% center;
            border-radius: 4px;
            border: 1px solid var(--Main-Secondary, #70C05B);
            transition: all 250ms ease-in-out;
            backface-visibility: hidden;
            transform-style: preserve-3d;

            &::placeholder {
                color: color(#575756 a(0.8));
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }

            &:hover,
            &:focus {
                padding: 12px 0;
                outline: 0;
                border: 1px solid transparent;
                border-bottom: 1px solid #70C05B;
                border-radius: 0;
                background-position: 100% center;
            }
        }
    }

    .icons {
        display: flex;
        gap: 28px;
        margin-left: 40px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                text-align: center;
                color: #414141;
            }
        }
    }

    .user {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        margin-left: 24px;

        h2 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .icon {
        cursor: pointer;
    }
}
.b1 {
    flex: 1;
    position: relative;
    line-height: 150%;
}

.wrapper {
    align-self: stretch;
    border-radius: 4px;
    background-color: #f3f2f1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.div {
    position: relative;
    line-height: 150%;
}

.label {
    flex: 1;
    position: relative;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}

.button {
    width: 85px;
    border-radius: 4px;
    background-color: #f3f2f1;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: #606060;
}

.group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.textfield {
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
}

.feather-icon-minus {
    width: 24px;
    position: relative;
    height: 24px;
}

.textfield-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #414141;
    font-family: 'Cera Round Pro';
}

.line-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 24px;
    flex-shrink: 0;
}

.frame-container {
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
    color: #000;
}

.frame-group {
    width: 272px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.image-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.catalog{
a{
display: flex;
}
}
.button1 {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 4px;
    background-color: #f3f2f1;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    opacity: 0.5;
}

.img {
    align-self: stretch;
    position: relative;
    height: 160px;
    overflow: hidden;
    flex-shrink: 0;
}

.container1 {
    align-self: stretch;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-size: 18px;
}

.star-icon {
    width: 16px;
    position: relative;
    height: 16px;
}

.rating {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.button2 {
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #70c05b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-align: center;
    color: #70c05b;
}

.content {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
}
section{
padding-top: 100px;
}
.item {
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    color: #414141;
}

.notice {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 4px;
    background-color: #ff6633;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 8px;
}

.div1 {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    line-height: 150%;
    color: #bfbfbf;
}

.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
}

.div4 {
    position: relative;
    font-size: 12px;
    line-height: 150%;
    color: #bfbfbf;
}

.frame-parent2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 16px;
    color: #606060;
}

.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 18px;
}

.content1 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
    text-align: left;
    color: #414141;
}

.item1 {
    align-self: stretch;
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.button6 {
    align-self: stretch;
    border-radius: 4px;
    background-color: #ff6633;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-align: center;
    color: #fff;
}

.item2 {
    align-self: stretch;
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    color: #fff;
}

.item3 {
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.line1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    text-align: left;
    color: #414141;
}

.button13 {
    width: 157px;
    border-radius: 4px;
    background-color: #f3f2f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}

.button14 {
    width: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}

.button16 {
    width: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    color: #ff6633;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.line-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    text-align: center;
    color: #606060;
}

.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.parent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    text-align: left;
    font-size: 48px;
    color: #414141;
    font-family: Rubik;
}
.container{
padding: 0  100px;
}
footer {
    padding: 24px 40px;
    background-image: url(../../assets/images/simple-dots-seamless-pattern_490768-161.jpg);
    margin-top: 100px;

    @media (max-width:360px) {
        margin-left: auto;
        margin-right: auto;
    }

}

.footer__links {
    display: flex;
    gap: 40px;

    @media (max-width:360px) {
        display: flex;
        width: 100vw;
        flex-direction: column;
    }

    .img__links {
        display: flex;
        gap: 16px;
        margin-left: 100px;
    }

    a {
        color: var(--Main-onSurface, #414141);
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        display: flex;
        align-items: center;
    }
}

.footer__logo {
    img {
        width: 74px;
        height: 49px;
    }
}

.footer___phone {
    display: flex;
    gap: 10px;
    margin-top: 14px;
    margin-left: 40px;
}

.phone {
    width: 24px;
    height: 24px;
}

.footer__logo {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 28px;
}